<div class="question-header">
    <h2 id="question" class="qheader"><%= quizList.question %></h2>
    <ul>
        <li>
            <input type="radio" name="answer<%= i %>" id="answer<%= i %>option1" disabled>
            <label for="answer<%= i %>option1"><%= quizList.answer1 %></label>
        </li>
        <li>
            <input type="radio" name="answer<%= i %>" id="answer<%= i %>option2" disabled>
            <label for="answer<%= i %>option2"><%= quizList.answer2 %></label>
        </li>
        <li>
            <input type="radio" name="answer<%= i %>" id="answer<%= i %>option3" disabled>
            <label for="answer<%= i %>option3"><%= quizList.answer3 %></label>
        </li>
        <li>
            <input type="radio" name="answer<%= i %>" id="answer<%= i %>option4" disabled>
            <label for="answer<%= i %>option4"><%= quizList.answer4 %></label>
        </li>
    </ul>
    <text class="userAnswer">Your answer is correct!</text></br>
</div>